<form action="/rnode/<%= host %>/<%= port %>/lab" method="get" target="_blank">
  <button class="btn btn-primary" type="submit">
    <i class="fa fa-jupyter"></i> Connect to JupyterLab
  </button>
</form>
